<main>
  <div>
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" />
  </div>
  <form action="" method="post">
    <div>
      <h1>Welcome to Angular</h1>
      <p>Login to your account</p>
    </div>
    <div>
      <h2>Login</h2>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
      </div>
      <div>
        <button type="submit">Login</button>
        <div>
          <a href="#">Forgot password?</a>
          <span>Don't have an account? <a href="#">Sign up</a></span>
        </div>
      </div>
    </div>
  </form>
</main>



<router-outlet />